:root {
    --header-height: 80px;
    --header-padding: 20px;
    --header-blur: 20px;
    --header-text-color: rgb(255, 255, 255);
    --header-transition: 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    gap: 15px;
    padding-inline: var(--header-padding);
    z-index: 2;
}

.header.expanded {
    padding-top: 17.5px;
    align-items: flex-start;
    height: 100dvh;
    line-height: 45px;
}

.header-background {
    position: fixed;
    inset: 0 auto auto 0;
    width: 100%;
    height: var(--header-height);
    backdrop-filter: blur(var(--header-blur));
    -webkit-backdrop-filter: blur(var(--header-blur));
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition: height var(--header-transition);
    z-index: 1;
}

.header-background.expanded {
    height: 100vh;
}

.header :is(img, h1, a) {
    color: var(--header-text-color);
    user-select: none;
}

.header *:not(.header-background) {
    z-index: 2;
}

.header-logo {
    height: calc(var(--header-height) / (16/9));
    cursor: pointer;
}

.header-separator {
    width: 4px;
    height: calc(var(--header-height) * 0.4);
    border-radius: var(--border-radius);
    background-color: var(--header-text-color);
}

.header-links {
    display: flex;
    gap: 12.5px;
}

.header-links.expanded {
    position: absolute;
    top: var(--header-height);
    left: var(--header-padding);
    flex-direction: column;
    width: auto;
    opacity: 1;
}

.header-links.expanded .header-link {
    opacity: 1;
    font-size: 1.75rem;
    transition: opacity 500ms ease-in-out;
}

.header-link {
    font-size: 1.25rem;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    transition: color 0.2s ease;
}

.header-link:is(:hover, :focus) {
    color: rgb(from var(--header-text-color) r g b / 0.65);
    outline: none;
}

.hamburger-menu-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: calc(var(--header-height) / (16/9));
}

.hamburger-menu {
    width: 2.2em;
    height: 1.95rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.hamburger-menu-bar {
    width: 100%;
    height: 0.35rem;
    border-radius: var(--border-radius);
    background-color: var(--header-text-color);
    transition: all 0.4s ease;
    transform-origin: center;
}

.hamburger-menu.expanded .hamburger-menu-bar:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg);
}

.hamburger-menu.expanded .hamburger-menu-bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.expanded .hamburger-menu-bar:nth-child(3) {
    transform: translateY(-13.5px) rotate(-45deg);
}

@media (width <= 768px) {
    .header {
        gap: 10px;
    }

    .header-separator, .header-links {
        opacity: 0;
        width: 0;
    }

    .header-link {
        opacity: 0;
    }

    .hamburger-menu {
        display: flex;
    }

    .header-links.expanded .header-link:nth-child(1) { transition-delay: 0ms; }
    .header-links.expanded .header-link:nth-child(2) { transition-delay: 50ms; }
    .header-links.expanded .header-link:nth-child(3) { transition-delay: 100ms; }
    .header-links.expanded .header-link:nth-child(4) { transition-delay: 150ms; }
    .header-links.expanded .header-link:nth-child(5) { transition-delay: 200ms; }
}

@media (pointer: coarse) {
    .header-link:hover {
        color: var(--header-text-color);
    }
}