.home {
    margin-top: var(--header-height);
    scroll-margin-top: var(--header-height);   
    padding-top: 320px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - var(--header-height));
}

.home-title {
    display: flex;
    gap: 10px;
}

.home-title-char {
    font-size: 140px;
    font-family: "Raleway-ExtraBold";
    text-transform: uppercase;
    animation: opacity-slide-down 1.5s;
}

.home-title-char:nth-of-type(2), .home-title-char:nth-of-type(3) {
    position: relative;
    z-index: 1;
    opacity: 1;
}

.home-button {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 190px;
    font-size: 18px;
    opacity: 0;
    animation: opacity 2s forwards;
    animation-delay: 0.8s;
}

.home-button-arrow {
    transform: translateY(1.5px);
    width: 18px;
}

.home-forest-image {
    left: 50%;
    bottom: 0;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1500px;
    animation: slide-up 1.5s;
}

@keyframes slide-up {
    from {
        transform: translate(-50%, 100px);
    }

    to {
        transform: translate(-50%, 0px);
    }
}

@keyframes opacity-slide-down {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1400px) {
.home {
        overflow: hidden;
    }

    .home-forest-image {
        width: 1400px;
    }
}

@media (max-width: 900px) {
    .home-forest-image {
        width: 1000px;
    }
    
    .home-title {
        gap: 5px;
    }
    
    .home-title-char {
        font-size: 15vw;
    }
}

@media (max-width: 900px) {
    .home {
        padding-top: 150px;
    }
    
    .home-title {
        gap: 0px;
    }
}

@media (max-height: 850px) {
    .home-title-char {
        z-index: 1;
    }
}

@media (max-width: 500px) {
    .home-button {
        width: 150px;
        font-size: 0.875em;
    }

    .home-button-arrow {
        width: 14px;
    }
}