:root {
    --button-border-radius: 50px;
    --button-background: rgb(255, 255, 255);
    --button-hover-background: rgb(245, 245, 245);
    --button-aspect-ratio: 10/3;
}

.standard-button {
    border-radius: var(--button-border-radius);
    aspect-ratio: var(--button-aspect-ratio);
    cursor: pointer;
    background-color: var(--button-background);
    transition: 0.2s;
    &:hover {
        background-color: var(--button-hover-background);
    }
    &:active {
        transform: scale(0.98);
    }
}

@media (pointer: coarse) {
    .standard-button {
        pointer-events: none;
    }
}